@font-face {
  font-family: DroidKufi;
  src: url('/fonts/DroidKufi.ttf');
}

.space-x-5>a {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.highlight-wrapper, pre {
  direction: ltr !important;
}

:lang(ar) { 
  font-family: DroidKufi;
}